
html,body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {    
    background-color: lightgray;
    padding: 5px;
}
.work-container {
    /* border: dotted 2px gold;
    margin: 10px;
    padding: 10px; */
    max-height: 80vh;
    overflow-y: auto;
}

/* .main-container {
    flex-grow: 1;
    overflow-y: auto;
} */

.page-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.footer {
    padding: 10px;
    text-align: center;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin: 10px;    
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.facebook {
    background-image: url('/assets/images/facebook-icon.png');
}

.twitter {
    background-image: url('/assets/images/twitter-icon.png');
}

.linkedin {
    background-image: url('/assets/images/linkedin-icon.png');
}

.github {
    background-image: url('/assets/images/github-icon.png');
}

.profile-card {
    max-width: 250px;
    margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}

.background-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* CSS for skills page */
.skills-container {    
    margin: 20px;
    display: flex;
    justify-content: center;
}

.skill-container {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.skill {
    background-color: darkgrey;
    font-size: larger;
    color: lightyellow;
    /* color: white; */
    font-family: monospace;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Certification page css */
.cert-img {
    margin: 10px;
    width: 100%;
    height: 600px;
    border: 3px solid gold;
}
